@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

.bullet-graph {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.menu {
    position: absolute;
    right: 20px;
}

.zoom {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
